<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539243155463-l9v27gses8mij0svi52o8cdsn34jlsi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539243155463-l9v27gses8mij0svi52o8cdsn34jlsi3</string>
	<key>API_KEY</key>
	<string>AIzaSyC31Kik8-L62Yhs0pyIDzL3kU5D7qB_w8k</string>
	<key>GCM_SENDER_ID</key>
	<string>539243155463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.frontiere21.mychat</string>
	<key>PROJECT_ID</key>
	<string>mychat-95b30</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-95b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539243155463:ios:3d370bd66b02bd51</string>
	<key>DATABASE_URL</key>
	<string>https://mychat-95b30.firebaseio.com</string>
</dict>
</plist>